<aside id="menu_vertical" class="col-xs-12 col-sm-2 col-md-2">
    <ul class="nav nav-pills nav-stacked col-xs-12">
        <li id="videojuegos" class="col-xs-12"><a class="col-xs-12" href="{{ urlFor ('videojuegos') }}"><i class="fa fa-gamepad fa-lg"></i><span>Videojuegos</span></a></li>
        <li id="television" class="col-xs-12"><a class="col-xs-12" href="{{ urlFor ('television') }}"><img src="/Imagenes/icon_tv.png"/><span>Televisión</span></a></li>
        <li id="deportes" class="col-xs-12"><a class="col-xs-12" href="{{ urlFor ('deportes') }}"><i class="fa fa-futbol-o fa-lg"></i><span>Deporte</span></a></li>
        <li id="juegosInfantiles" class="col-xs-12"><a class="col-xs-12" href="{{ urlFor ('juegosInfantiles') }}"><i class="fa fa-child fa-lg"></i><span>Juegos Infantiles</span></a></li>
        <li id="musica" class="col-xs-12"><a class="col-xs-12" href="{{ urlFor ('musica') }}"><i class="fa fa-music fa-lg"></i><span>Música</span></a></li>                
        <li id="otros" class="col-xs-12"><a class="col-xs-12" href="{{ urlFor ('otros') }}"><i class="fa fa-question fa-lg"></i><span>Otros</span></a></li>                
    </ul>  
</aside> 
