{% extends 'Base.html.twig' %}

{% block titulo %}Acontecimiento - {{ acontecimiento.titulo }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/Css/Cabecera.css">
    <link rel="stylesheet" type="text/css" href="/Css/Principal.css">
    <link rel="stylesheet" type="text/css" href="/Css/Notificaciones.css">
    <link rel="stylesheet" type="text/css" href="/Css/jquery-ui_1.11.2.css">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/Javascript/jquery-ui_1.11.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#irArriba").hide();
            $(".leidos button").hide();
            $(".noLeidos button").hide();

            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 150) {
                        $("#irArriba").fadeIn();
                    }
                    else {
                        $("#irArriba").fadeOut();
                    }
                });
                $("#irArriba").click(function () {
                    $("body,html").animate({
                        scrollTop: 0
                    }, 1000);
                    return false;
                });
            });

            $(".noLeidos").click(function () {
                $(this).children("button").toggle();
            });

            $(".leidos").click(function () {
                $(this).children("button").toggle();
            });

        });
    </script>
{% endblock %}

{% block cabecera %}
    {% include 'Cabecera.html.twig' %}
{% endblock %}

{% block cuerpo %}
    <div id="irArriba"><a href="javascript:(1);"><span></span></a></div>
    <section id="contenedor" class="container">
        <div id="mensajes_flash" class="col-xs-12">
            {% if flash['error'] %}
                <div class="col-sm-12 form-group alert alert-danger">
                    {{ flash['error'] }}
                </div>
            {% endif %}
            {% if flash['mensaje'] %}
                <div class="col-sm-12 form-group alert alert-success">
                    {{ flash['mensaje'] }}
                </div>
            {% endif %}              
        </div>        

        <section id="misNotificaciones" class="col-xs-12">
            {% if notificaciones %}
                <form role="form" method="POST">
                    <div class="border-row">
                        <button type="submit" class="btn" id="leerTodos" name="leerTodos">Marcar todos como leídos</button>
                    </div>
                    {% for notificacion in notificaciones %}
                        {% if notificacion.leido == 0 %}
                            <div class="border-row"></div>
                            <div class="noLeidos">
                                <p><span>{{ notificacion.fecha|date('d-m-Y H:i:s') }}</span> - {{ notificacion.asunto }}</p>
                                <button type="submit" class="btn" name="irAcontecimiento" value="{{ notificacion.id }}">Ir al acontecimiento</button>
                                {% if notificacion.descripcion %}
                                    <p>{{ notificacion.descripcion }}</p>
                                {% endif %}
                            </div>

                        {% else %}

                            <div class="leidos">
                                <p><span>{{ notificacion.fecha|date('d-m-Y H:i:s') }}</span> - {{ notificacion.asunto }}</p>
                                <button type="submit" class="btn" name="irAcontecimiento" value="{{ notificacion.id }}">Ir al acontecimiento</button>
                                {% if notificacion.descripcion %}
                                    <p>{{ notificacion.descripcion }}</p>
                                {% endif %}
                            </div>

                        {% endif %}
                    {% endfor %}
                </form>
            {% else %}
                <div class="border-row"></div>
                <h3>Aún no tienes ninguna notificación</h3>

            {% endif %}
        </section>    
    </section>
    {% include 'PiePagina.html.twig' %}    
{% endblock %}		

{# empty Twig template #}
