{% extends 'Base.html.twig' %}

{% block titulo %}Otros{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/Css/Cabecera.css">
    <link rel="stylesheet" type="text/css" href="/Css/Principal.css">
    <link rel="stylesheet" type="text/css" href="/Css/jquery-ui_1.11.2.css">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/Javascript/jquery-ui_1.11.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(function () {
                $("#tabs").tabs();
            });
            
            $('#otros a').addClass("active");
        });

    </script>
{% endblock %}

{% block cabecera %}
    {% include 'Cabecera.html.twig' %}
{% endblock %}

{% block cuerpo %}
    <section id="contenedor" class="container">

        {% include 'MenuVertical.html.twig' %}
        
        <section id="tabs" class="col-xs-12 col-sm-9 col-md-9">
            <ul>
                <li class="col-xs-12 col-sm-12 col-md-4" ><a class="col-xs-12" href="#tabs-1">Más visitados - Siempre</a></li>
                <li class="col-xs-12 col-sm-12 col-md-4"><a class="col-xs-12" href="#tabs-2">Más visitados - Este Mes</a></li>
                <li class="col-xs-12 col-sm-12 col-md-4"><a class="col-xs-12" href="#tabs-3">Más visitados - Esta Semana</a></li>
            </ul>
            {% if acontecimientos %}
                <div id="tabs-1">
                    {% for acontecimiento in acontecimientos %}

                        <div class="border-row">
                            <h6>{{ acontecimiento.fecha }} - Creado por: <i><u>{{ acontecimiento.usuario_nombre }}</u></i></h6>
                        </div>
                        <div id="nuevos">
                            <h3>{{ acontecimiento.titulo }}</h3>

                            {% if acontecimiento.nombre_imagen %}
                                <img class="img-responsive" src="/Imagenes/{{ acontecimiento.nombre_imagen }}" />
                            {% endif %}

                            <p>{{ acontecimiento.descripcion }}</p>                   
                        </div>

                    {% endfor %} 
                </div>
                <div id="tabs-2">
                    {#-- Comprobamos que la fecha de ahora mismo está dentro de este MES --#}
                    {% for acontecimiento in acontecimientos %}
                        {% if acontecimiento.fecha >= now|date_modify("-30 days")|date('Y-m-d H:i:s') %}

                            <div class="border-row">
                                <h6>{{ acontecimiento.fecha }} - Creado por: <i><u>{{ acontecimiento.usuario_nombre }}</u></i></h6>
                            </div>
                            <div id="nuevos">
                                <h3>{{ acontecimiento.titulo }}</h3>

                                {% if acontecimiento.nombre_imagen %}
                                    <img class="img-responsive" src="/Imagenes/{{ acontecimiento.nombre_imagen }}" />
                                {% endif %}

                                <p>{{ acontecimiento.descripcion }}</p>                   
                            </div>

                        {% endif %}
                    {% endfor %} 
                </div>
                <div id="tabs-3">
                {#-- Comprobamos que la fecha de ahora mismo está dentro de esta SEMANA --#}
                    {% for acontecimiento in acontecimientos %}
                        {% if acontecimiento.fecha >= now|date_modify("-7 days")|date('Y-m-d H:i:s') %}

                            <div class="border-row">
                                <h6>{{ acontecimiento.fecha }} - Creado por: <i><u>{{ acontecimiento.usuario_nombre }}</u></i></h6>
                            </div>
                            <div id="nuevos">
                                <h3>{{ acontecimiento.titulo }}</h3>

                                {% if acontecimiento.nombre_imagen %}
                                    <img class="img-responsive" src="/Imagenes/{{ acontecimiento.nombre_imagen }}" />
                                {% endif %}

                                <p>{{ acontecimiento.descripcion }}</p>                   
                            </div>

                        {% endif %}
                    {% endfor %} 
                </div>
            {% else %}
                <h3>No existen acontecimientos</h3>
            {% endif %}
        </section>
        
        <section id="novedades" class="col-xs-12">
            {% if acontecimientos %}
                <h1 class="col-xs-12">NOVEDADES - OTROS</h1>
                <div class="col-xs-12">
                    <button type="button" name="NuevoAcontec" id="NuevoAcontec" class="btn btn-warning col-xs-3"><i class="fa fa-plus-square fa-2x"></i>Nuevo acontecimiento...</button>
                </div>
                {% for acontecimiento in acontecimientos %}
                    {% if acontecimiento.fecha >= now|date_modify("-7 days")|date('Y-m-d H:i:s') %}
                            
                        <div class="border-row">
                            <h6>{{ acontecimiento.fecha }} - Creado por: <i><u>{{ acontecimiento.usuario_nombre }}</u></i></h6>
                        </div>
                        <div id="nuevos">
                            <h3>{{ acontecimiento.titulo }}</h3>

                            {% if acontecimiento.nombre_imagen %}
                                <img class="img-responsive" src="/Imagenes/{{ acontecimiento.nombre_imagen }}" />
                            {% endif %}

                            <p>{{ acontecimiento.descripcion }}</p>                   
                        </div>
                    {% endif %}

                {% endfor %}

            {% else %}
                <h3>No existen acontecimientos novedosos en el tema 'Otros'</h3>
            {% endif %}
        </section>          
    </section>
{% endblock %}

