{% extends 'Base.html.twig' %}

{% block titulo %}Otros{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/Css/Cabecera.css">
    <link rel="stylesheet" type="text/css" href="/Css/Principal.css">
    <link rel="stylesheet" type="text/css" href="/Css/jquery-ui_1.11.2.css">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/Javascript/jquery-ui_1.11.2.js"></script>
    <script type="text/javascript" src="/Javascript/busqueda_acontecimiento.js"></script>    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#irArriba").hide();

            $(function () {
                $("#tabs").tabs();
            });

            $('#otros a').addClass("active");

            $("#fAcontec").hide();

            $("#NuevoAcontec").click(function () {
                $("#fAcontec").fadeIn();
            });

            $('#OcultarForm').click(function () {
                $("#fAcontec").fadeOut();
            });

            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 150) {
                        $("#irArriba").fadeIn();
                    }
                    else {
                        $("#irArriba").fadeOut();
                    }
                });
                $("#irArriba").click(function () {
                    $("body,html").animate({
                        scrollTop: 0
                    }, 1000);
                    return false;
                });
            });
        });

    </script>
{% endblock %}

{% block cabecera %}
    {% include 'Cabecera.html.twig' %}
{% endblock %}

{% block cuerpo %}
    <div id="irArriba"><a href="javascript:(1);"><span></span></a></div>
    <section id="contenedor" class="container">
        <div id="mensajes_flash" class="col-xs-12">
            {% if flash['error'] %}
                <div class="col-sm-12 form-group alert alert-danger">
                    {{ flash['error'] }}
                </div>
            {% endif %}
            {% if flash['mensaje'] %}
                <div class="col-sm-12 form-group alert alert-success">
                    {{ flash['mensaje'] }}
                </div>
            {% endif %}              
        </div>        
        <div id="busqueda" class="ui-widget col-xs-12">
            <div class="input-group col-xs-12">
                <span class="input-group-addon"><i class="fa fa-search fa-1x"></i></span>
                <input id="buscar" name="buscar" class="form-control" maxlength="20" placeholder="Buscar acontecimiento..." type="text">                    
            </div>
        </div> 

        {% include 'MenuVertical.html.twig' %}

        <section id="tabs" class="col-xs-12 col-sm-9 col-md-9">
            <ul>
                <li class="col-xs-12 col-sm-12 col-md-4" ><a class="col-xs-12" href="#tabs-1">Más visitados - Siempre</a></li>
                <li class="col-xs-12 col-sm-12 col-md-4"><a class="col-xs-12" href="#tabs-2">Más visitados - Este Mes</a></li>
                <li class="col-xs-12 col-sm-12 col-md-4"><a class="col-xs-12" href="#tabs-3">Más visitados - Esta Semana</a></li>
            </ul>
            {% if acontecimientos %}
                <div id="tabs-1">
                    {% for acontecimiento in acontecimientos %}

                        <div class="border-row">
                            <h6>{{ acontecimiento.fecha|date('d-m-Y H:i:s') }} - Creado por: <i><u>{{ acontecimiento.usuario_nombre }}</u></i></h6>
                        </div>
                        <div class="nuevos">
                            <h3>{{ acontecimiento.titulo }}</h3>

                            {% if acontecimiento.nombre_imagen %}
                                <div class="misImagenes">
                                    <img class="img-responsive" src="/Imagenes/Nuevos_Acontecimientos/{{ acontecimiento.nombre_imagen }}" />
                                </div>
                            {% endif %}

                            {% if acontecimiento.descripcion %}
                                <p>{{ acontecimiento.descripcion }}</p>
                            {% endif %}

                            <div class="todos_comentarios">
                                {% set sw = false %}
                                {% set contador = 0 %}
                                <form class="col-xs-12" id="fComent" role="form" method="POST" enctype="multipart/form-data">
                                    {% for comentario in comentarios %}
                                        {% if acontecimiento.id == comentario.acontecimiento_id_fk %}
                                            {% set sw = true %}
                                            {% set contador = comentario.count %}
                                        {% endif %}                                                                
                                    {% endfor %}
                                    {% if sw == true %}
                                        <h5>Comentarios: {{ contador }}</h5>
                                    {% else %}
                                        <h5>Sin comentarios</h5>
                                    {% endif %}
                                    <a href="{{ urlFor('mostrarAcontecimiento', {'id': acontecimiento.id}) }}"><button type="button" name="NuevoComent" class="btn btn-default col-xs-8 col-sm-8 col-md-2 nuevoComent" value="{{ acontecimiento.id }}"><i class="fa fa-comment fa-lg"></i>Comentar</button></a>
                                </form>
                            </div>                    
                        </div>

                    {% endfor %} 
                </div>
                <div id="tabs-2">
                    {#-- Comprobamos que la fecha de ahora mismo está dentro de este MES --#}
                    {% for acontecimiento in acontecimientos %}
                        {% if acontecimiento.fecha >= now|date_modify("-30 days")|date('Y-m-d H:i:s') %}

                            <div class="border-row">
                                <h6>{{ acontecimiento.fecha|date('d-m-Y H:i:s') }} - Creado por: <i><u>{{ acontecimiento.usuario_nombre }}</u></i></h6>
                            </div>
                            <div class="nuevos">
                                <h3>{{ acontecimiento.titulo }}</h3>

                                {% if acontecimiento.nombre_imagen %}
                                    <div class="misImagenes">
                                        <img class="img-responsive" src="/Imagenes/Nuevos_Acontecimientos/{{ acontecimiento.nombre_imagen }}" />
                                    </div>
                                {% endif %}

                                {% if acontecimiento.descripcion %}
                                    <p>{{ acontecimiento.descripcion }}</p>
                                {% endif %}

                                <div class="todos_comentarios">
                                    {% set sw = false %}
                                    {% set contador = 0 %}
                                    <form class="col-xs-12" id="fComent" role="form" method="POST" enctype="multipart/form-data">
                                        {% for comentario in comentarios %}
                                            {% if acontecimiento.id == comentario.acontecimiento_id_fk %}
                                                {% set sw = true %}
                                                {% set contador = comentario.count %}
                                            {% endif %}                                                                
                                        {% endfor %}
                                        {% if sw == true %}
                                            <h5>Comentarios: {{ contador }}</h5>
                                        {% else %}
                                            <h5>Sin comentarios</h5>
                                        {% endif %}
                                        <a href="{{ urlFor('mostrarAcontecimiento', {'id': acontecimiento.id}) }}"><button type="button" name="NuevoComent" class="btn btn-default col-xs-8 col-sm-8 col-md-2 nuevoComent" value="{{ acontecimiento.id }}"><i class="fa fa-comment fa-lg"></i>Comentar</button></a>
                                    </form>
                                </div>                    
                            </div>

                        {% endif %}
                    {% endfor %} 
                </div>
                <div id="tabs-3">
                    {#-- Comprobamos que la fecha de ahora mismo está dentro de esta SEMANA --#}
                    {% for acontecimiento in acontecimientos %}
                        {% if acontecimiento.fecha >= now|date_modify("-7 days")|date('Y-m-d H:i:s') %}

                            <div class="border-row">
                                <h6>{{ acontecimiento.fecha|date('d-m-Y H:i:s') }} - Creado por: <i><u>{{ acontecimiento.usuario_nombre }}</u></i></h6>
                            </div>
                            <div class="nuevos">
                                <h3>{{ acontecimiento.titulo }}</h3>

                                {% if acontecimiento.nombre_imagen %}
                                    <div class="misImagenes">
                                        <img class="img-responsive" src="/Imagenes/Nuevos_Acontecimientos/{{ acontecimiento.nombre_imagen }}" />
                                    </div>
                                {% endif %}

                                {% if acontecimiento.descripcion %}
                                    <p>{{ acontecimiento.descripcion }}</p>
                                {% endif %}

                                <div class="todos_comentarios">
                                    {% set sw = false %}
                                    {% set contador = 0 %}
                                    <form class="col-xs-12" id="fComent" role="form" method="POST" enctype="multipart/form-data">
                                        {% for comentario in comentarios %}
                                            {% if acontecimiento.id == comentario.acontecimiento_id_fk %}
                                                {% set sw = true %}
                                                {% set contador = comentario.count %}
                                            {% endif %}                                                                
                                        {% endfor %}
                                        {% if sw == true %}
                                            <h5>Comentarios: {{ contador }}</h5>
                                        {% else %}
                                            <h5>Sin comentarios</h5>
                                        {% endif %}
                                        <a href="{{ urlFor('mostrarAcontecimiento', {'id': acontecimiento.id}) }}"><button type="button" name="NuevoComent" class="btn btn-default col-xs-8 col-sm-8 col-md-2 nuevoComent" value="{{ acontecimiento.id }}"><i class="fa fa-comment fa-lg"></i>Comentar</button></a>
                                    </form>
                                </div>                    
                            </div>

                        {% endif %}
                    {% endfor %} 
                </div>
            {% else %}
                <h3>No existen acontecimientos</h3>
            {% endif %}
        </section>

        <section id="novedades" class="col-xs-12">
            {% if acontecimientos %}
                <h1 class="col-xs-12">NOVEDADES - OTROS</h1>
                <div class="col-xs-12">
                    <div id="paraBoton" class="col-xs-12">
                        <button type="button" name="NuevoAcontec" id="NuevoAcontec" class="btn btn-warning col-xs-10 col-sm-10 col-md-3"><i class="fa fa-plus-square fa-2x"></i>Nuevo acontecimiento...</button>
                    </div>
                    <form class="col-xs-12" id="fAcontec" role="form" method="POST" enctype="multipart/form-data">
                        <div class="col-xs-10">
                            <input type="text" required id="titulo" name="titulo" class="form-control" maxlength="60" placeholder="Título del acontecimiento..."> 
                            <textarea id="descripcion" name="descripcion" class="form-control" rows="4" maxlength="200" placeholder="Descripción..." ></textarea>
                        </div>
                        <input type="file" name="imagen" maxlength="70">
                        <p id="advertencia">*Formato de imágenes soportado ('jpeg', 'jpg', 'png'). Esta plantilla pasará por la
                            zona de Administración para dar su visto bueno sobre el contenido. Se publicará si cumple los
                            requisitos.</p>
                        <button type="submit" name="EnviarAdmin" id="EnviarAdmin" class="btn btn-success"><i class="fa fa-arrow-right fa-lg"></i>Enviar</button>
                        <button type="button" name="OcultarForm" id="OcultarForm" class="btn btn-info"><i class="fa fa-arrow-down fa-lg"></i>Ocultar</button>
                        {% if flash['error'] %}
                            <div class="col-sm-12 form-group alert alert-danger">
                                {{ flash['error'] }}
                            </div>
                        {% endif %}
                    </form>
                </div>
                {% for acontecimiento in acontecimientos %}
                    {% if acontecimiento.fecha >= now|date_modify("-7 days")|date('Y-m-d H:i:s') %}

                        <div class="border-row">
                            <h6>{{ acontecimiento.fecha|date('d-m-Y H:i:s') }} - Creado por: <i><u>{{ acontecimiento.usuario_nombre }}</u></i></h6>
                        </div>
                        <div class="nuevos">
                            <h3>{{ acontecimiento.titulo }}</h3>

                            {% if acontecimiento.nombre_imagen %}
                                <div class="misImagenes">
                                    <img class="img-responsive" src="/Imagenes/Nuevos_Acontecimientos/{{ acontecimiento.nombre_imagen }}" />
                                </div>
                            {% endif %}

                            {% if acontecimiento.descripcion %}
                                <p>{{ acontecimiento.descripcion }}</p>
                            {% endif %}

                            <div class="todos_comentarios">
                                {% set sw = false %}
                                {% set contador = 0 %}
                                <form class="col-xs-12" id="fComent" role="form" method="POST" enctype="multipart/form-data">
                                    {% for comentario in comentarios %}
                                        {% if acontecimiento.id == comentario.acontecimiento_id_fk %}
                                            {% set sw = true %}
                                            {% set contador = comentario.count %}
                                        {% endif %}                                                                
                                    {% endfor %}
                                    {% if sw == true %}
                                        <h5>Comentarios: {{ contador }}</h5>
                                    {% else %}
                                        <h5>Sin comentarios</h5>
                                    {% endif %}
                                    <a href="{{ urlFor('mostrarAcontecimiento', {'id': acontecimiento.id}) }}"><button type="button" name="NuevoComent" class="btn btn-default col-xs-8 col-sm-8 col-md-2 nuevoComent" value="{{ acontecimiento.id }}"><i class="fa fa-comment fa-lg"></i>Comentar</button></a>
                                </form>
                            </div>                    
                        </div>
                    {% endif %}

                {% endfor %}

            {% else %}
                <h1 class="col-xs-12">NOVEDADES - OTROS</h1>
                <h3>No existen acontecimientos novedosos en el tema 'Otros'</h3>
                <div class="col-xs-12">
                    <div id="paraBoton" class="col-xs-12">
                        <button type="button" name="NuevoAcontec" id="NuevoAcontec" class="btn btn-warning col-xs-10 col-sm-10 col-md-3"><i class="fa fa-plus-square fa-2x"></i>Nuevo acontecimiento...</button>
                    </div>
                    <form class="col-xs-12" id="fAcontec" role="form" method="POST" enctype="multipart/form-data">
                        <div class="col-xs-10">
                            <input type="text" required id="titulo" name="titulo" class="form-control" maxlength="60" placeholder="Título del acontecimiento..."> 
                            <textarea id="descripcion" name="descripcion" class="form-control" rows="4" maxlength="200" placeholder="Descripción..." ></textarea>
                        </div>
                        <input type="file" name="imagen" maxlength="70">
                        <p id="advertencia">*Formato de imágenes soportado ('jpeg', 'jpg', 'png'). Esta plantilla pasará por la
                            zona de Administración para dar su visto bueno sobre el contenido. Se publicará si cumple los
                            requisitos.</p>
                        <button type="submit" name="EnviarAdmin" id="EnviarAdmin" class="btn btn-success"><i class="fa fa-arrow-right fa-lg"></i>Enviar</button>
                        <button type="button" name="OcultarForm" id="OcultarForm" class="btn btn-info"><i class="fa fa-arrow-down fa-lg"></i>Ocultar</button>
                    </form>
                </div>  
            {% endif %}
        </section>          
    </section>
{% endblock %}

